.message
  = render 'header'
  .message__contents
    .message__contents__left-part
      - if @group.appeal.user.id != current_user.id
        .message__contents__left-part__user-avatar{style: "background-image: url(#{@group.appeal.user.main_image})"}
        .message__contents__left-part__user-nickname
          = link_to user_path(@group.appeal.user), id: "user-link" do
            = @group.appeal.user.nickname + "さんのプロフィールを見る"
      - else
        .message__contents__left-part__user-avatar{style: "background-image: url(#{@group.user.main_image})"}
        .message__contents__left-part__user-nickname
          = link_to user_path(@group.user), id: "user-link" do
            = @group.user.nickname + "さんのプロフィールを見る"
      %hr
      .message__contents__left-part__name
        = "「" + @group.appeal.name + "」"
      .message__contents__left-part__date
        = @group.appeal.created_at.strftime("%Y/%m/%d %H:%M")
      .message__contents__left-part__outline
        = @group.appeal.outline
    .message__contents__talking
      .message__contents__talking__messages-space{id: "message-area"}
        = render @messages
      .message__contents__talking__send-space
        = form_for [@group, @message], html: { id: 'form' } do |f|
          = f.text_area :body, rows: "8", id: "message-form", placeholder: "メッセージを入力してください"
          = f.label :image do
            %i.fa.fa-camera
          = f.file_field :image, class: "image-upload", style: "display:none;"
          = f.submit id: "talk-send-btn", value: "送信"
  .image-upload-balloon
    .arrow_box アップロード



