- if group.user_id == current_user.id || group.receiver_id == current_user.id
  - if group.user_id == current_user.id
    - if group.messages.present?
      = link_to group_messages_path(group), class: "each-group" do
        .each-group-log
          .each-group-log__appeal-user-avatar{style: "background-image: url(#{group.appeal.user.main_image})"}
          .each-group-log__appeal-user-nickname
            %span= group.appeal.user.nickname
          .each-group-log__last-message
            = truncate(group.last_message, length: 30)
          .each-group-log__last-message-date
            %i.fa.fa-clock-o.fa-fw= group.last_message_date.created_at.strftime("%Y/%m/%d")
          %i.fa.fa-angle-right.fa-lg
  - if group.user_id != current_user.id
    - if group.messages.present?
      = link_to group_messages_path(group), class: "each-group" do
        .each-group-log
          .each-group-log__appeal-user-avatar{style: "background-image: url(#{group.user.main_image})"}
          .each-group-log__appeal-user-nickname
            %span= group.user.nickname
          .each-group-log__last-message
            = truncate(group.last_message, length: 30)
          .each-group-log__last-message-date
            %i.fa.fa-clock-o.fa-fw= group.last_message_date.created_at.strftime("%Y/%m/%d")
          %i.fa.fa-angle-right.fa-lg

