- if group.user_id == current_user.id || group.receiver_id == current_user.id
  - if group.user_id == current_user.id
    = link_to group_messages_path(group), class: "each-group" do
      .each-group-log
        .each-group-log__appeal-user-avatar{style: "background-image: url(#{group.appeal.user.avatar})"}
          %p= group.appeal.user.nickname
        .each-group-log__appeal-name
          = "「" + group.appeal.name + "」"
        .each-group-log__last-message
          %p= group.last_message
  - if group.user_id != current_user.id
    = link_to group_messages_path(group), class: "each-group" do
      .each-group-log
        .each-group-log__appeal-user-avatar{style: "background-image: url(#{group.user.avatar})"}
          %p= group.user.nickname
        .each-group-log__appeal-name
          = "「" + group.appeal.name + "」"
        .each-group-log__last-message
          %p= group.last_message
