.group__each-content{style: "background-image: url(#{group.user.avatar})", "data-name": "#{group.name}", "data-country": "#{group.country_code}", "data-region": "#{group.region_code}", "data-date": "#{group.created_at}"}
  .group__each-content__hide
  .group__each-content__nickname
    = link_to user_path(group.user.id), class: "group__each-content__nickname-font" do
      = group.user.nickname
  .group__each-content__date
    = group.created_at.strftime("%Y/%m/%d %H:%M")
  .group__each-content__name
    = group.name

