.group-new
  %h1{class: "group-new-title"} グループ情報の入力
  .group-new__form
    = form_for @group, html: {id: "group_form"} do |f|
      .group-new__form__name-label
        = f.label 'グループ名'
        %span{class: "form-require"} 必須
      .group-new__form__name-field
        = f.text_field :name, placeholder: "例) ロサンゼルスで1人です！一緒にディナーしませんか？？", class: "group-new__form-name"
      .group-new__form__outline-label
        = f.label 'グループの説明'
        %span{class: "form-require"} 必須
      .group-new__form__outline-field
        = f.text_area :outline, placeholder: "例) 今ロサンゼルスに1人でいます。\nロサンゼルスに詳しい方、美味しいお店など教えて欲しいです〜！\n連絡待ってます！！", class: "group-new__form-outline", rows: "8"
      .group-new__form__country-label
        = f.label '国を選択してください'
        %span{class: "form-require"} 必須
      .group-new__form__country-dropdown
        = render 'country-select'
      .group-new__form__region-label
        = f.label '地域を選んでください'
      .group-new__form__region-dropdown
        = render 'region-select'
      .group-new__form__submit
        = f.submit '作成する', class: "group-new__form__submit-btn"

