.appeal__each-content{style: "background-image: url(#{appeal.user.main_image})", "data-name": "#{appeal.name}", "data-country": "#{appeal.country_code}", "data-region": "#{appeal.region_code}", "data-date": "#{appeal.created_at}"}
  .appeal__each-content__hide
  .appeal__each-content__nickname
    = link_to user_path(appeal.user.id), class: "appeal__each-content__nickname-font" do
      = truncate(appeal.user.nickname, length: 6)
  .appeal__each-content__date
    = appeal.created_at.strftime("%Y/%m/%d %H:%M")
  .appeal__each-content__name
    = link_to appeal_path(appeal), id: "appeal-name" do
      %p= truncate(appeal.name, length: 24)

