.header
  .header__left-logo
    = link_to appeals_path do
      = image_tag 'MeetupJapanLogo.png'
  .header__right-btns
    = link_to new_appeal_path, class: "header-btn" do
      %i.fa.fa-paper-plane.fa-lg
        %span 現在地を投稿する
    = link_to log_groups_path, class: "header-btn" do
      %i.fa.fa-history.fa-lg
        %span メッセージログ
    = link_to user_path(current_user), class: "mypage-btn" do
      .mypage-btn__user-thum{style: "background-image: url(#{current_user.main_image})"}
      %span マイページ
    - unless current_user.main_image.present?
      = link_to user_path(current_user) do
        .balloon プロフィール画像を登録しよう！
        %i.fa.fa-2x.fa-times

