.header
  .header__right-btns
    = link_to new_appeal_path, class: "header-btn" do
      %i.fa.fa-plus.fa-lg
        %span レポートを作る
    = link_to log_groups_path, class: "header-btn" do
      %i.fa.fa-history.fa-lg
        %span メッセージログ
    = link_to user_path(current_user), class: "mypage-btn" do
      .mypage-btn__user-thum{style: "background-image: url(#{current_user.avatar})"}
      %span マイページ
    - unless current_user.avatar.present?
      = link_to user_path(current_user) do
        .balloon プロフィール画像を登録しよう！
        %i.fa.fa-2x.fa-times

