.appeal-new
  %h1{class: "appeal-new-title"} レポート情報の入力
  %i.fa.fa-paper-plane.fa-lg
  .appeal-new__form
    = form_for @appeal, html: {id: "appeal_form"} do |f|
      .appeal-new__form__name-label
        = f.label 'レポート名'
        %span{class: "form-require"} 必須
      .appeal-new__form__name-field
        = f.text_field :name, placeholder: "例) ロサンゼルスで1人です！一緒にディナーしませんか？？", class: "appeal-new__form-name"
        %p{class: "error-messages", id: "under-name-field-message"}
      .appeal-new__form__outline-label
        = f.label 'レポートの説明'
        %span{class: "form-require"} 必須
      .appeal-new__form__outline-field
        = f.text_area :outline, placeholder: "例) 今ロサンゼルスに1人でいます。\nロサンゼルスに詳しい方、美味しいお店など教えて欲しいです〜！\n連絡待ってます！！", class: "appeal-new__form-outline", rows: "8"
        %p{class: "error-messages"}
      .appeal-new__form__country-label
        = f.label '国を選択してください'
        %span{class: "form-require"} 必須
      .appeal-new__form__country-dropdown
        = render 'country-select'
        %p{class: "error-messages", id: "under-country-select-message"}
      .appeal-new__form__region-label
        = f.label '地域を選んでください'
      .appeal-new__form__region-dropdown
        = render 'region-select'
      .appeal-new__form__submit
        = f.submit '作成する', class: "appeal-new__form__submit-btn"
      .appeal-new__form__cancel
        = link_to "戻る", :back, class: "appeal-new__form__cancel-btn"

