- if @appeal.user.id != current_user.id
  .message
    = render 'header'
    .message__contents
      .message__contents__left-part
        .message__contents__left-part__user-avatar{style: "background-image: url(#{@appeal.user.avatar.url(:medium)})"}
        .message__contents__left-part__user-nickname
          = link_to user_path(@appeal.user), id: "user-link" do
            = @appeal.user.nickname + "さんのプロフィールを見る"
        %hr
        .message__contents__left-part__name
          = "「" + @appeal.name + "」"
        .message__contents__left-part__date
          = @appeal.created_at.strftime("%Y/%m/%d %H:%M")
        .message__contents__left-part__outline
          = @appeal.outline
      .message__contents__talking-start-part
        = form_for [@group] do |f|
          = hidden_field_tag :appeal_id, @appeal.id
          = hidden_field_tag :receiver_id, @appeal.user.id
          = f.submit id: "talk-start-btn", value: "#{@appeal.user.nickname}さんにメッセージを送る(無料)"
- else
  .message
    = render 'header'
    .message__contents
      .message__contents__left-part
        .message__contents__left-part__user-avatar{style: "background-image: url(#{@appeal.user.avatar.url(:medium)})"}
        .message__contents__left-part__user-nickname
        %hr
        .message__contents__left-part__name
          = "「" + @appeal.name + "」"
        .message__contents__left-part__date
          = @appeal.created_at.strftime("%Y/%m/%d %H:%M")
        .message__contents__left-part__outline
          = simple_format @appeal.outline
        .message__contents__left-part__edit-btn
          = link_to edit_appeal_path(@appeal) do
            %p 編集する
      .message__contents__self-appeal-right-space
        .message__contents__self-appeal-right-space__title
          %p= "「" + @appeal.name + "」へのメッセージ一覧"
        .message__contents__self-appeal-right-space__each-group
          = render 'each-group'

